
.main_highlight_title{
    font-size: 2.5rem;
}

.hightlight_title{
    font-size: 1.75rem; 
    text-transform: capitalize ;
    text-shadow: 0ch;
}

.decription{
    font-size: smaller;
    font-weight: 600;
    margin-bottom: 20px;
}

.highlight_title_different{
    font-size: 18px;
    font-weight: 600;
}

.full_red_border{
    border: 1px solid red;
    margin-bottom: 20px;
    width: 100%;
}

/* .title_red_border{
    border-bottom: 5px solid #ec1c24;
    width: 15%;
    margin-bottom: 20px;
} */

.title{
    text-align: center;
}


.title_border{
    border-bottom: 5px solid #ec1c24;
    margin-bottom: 20px;
    display: inline-block;
}