/* header style start*/

.header_container{
    width: 100%;
 padding: 10px;

}
.header_content{
    display: flex;
    justify-content: space-between;
 
}


.paperbag ul li{
    list-style: none;
    text-align: left !important;
 
}
.paperbag  ul li h6{
    color: black;
    font-family: cursive;
    font-size: small;
    margin-left: 20px;
    font-size: small;
}
.paperbag  ul li h6:hover{
    color: #ec1c24;
  

}
/* header style end */





/* navbar style start */
 .navbar {
    padding: 0px;
}

.nav-link {
    color: #fff;
    font-size: 1.2rem;
    /* font-size: 16px; */
    padding: 15px 0px 15px 15px  ;
    margin-right: 20px;
    font-weight: 600;
}
.products_dropdown{
    color: #fff;
    font-size: 1.2rem;
 

    font-weight: 600;  
}
.navbar-nav .dropdown-menu{
    margin-top: 20px;
  
    }
    
    .navbar-nav .dropdown-menu .dropdown-item {
        color: #777  !important;
    }
    .navbar-nav  .dropdown-menu .dropdown-item:active {
        background-color:#333333;
        color: #fff !important;
    }
    
    .navbar-nav  .dropdown-menu li{
        margin-right: 0px !important;  
    }
    

.nav-link:hover{
    color: hsl(0, 0%, 100%) !important;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: left;
}

.active{
    background-color: #ec1c24 !important;
    color: #fff !important;
}


.navbar-nav>li>a {
    text-decoration: none;}

.borderWhite{

    border: 1px solid #fff;
}
.navbar-brand {
padding: 15px;
font-size: 18px;
line-height: 20px;
color: #fff;
}

.navbar-brand:active{
color: #fff !important;
}



@media screen and (max-width:1000px){
.nav-link{
    margin-right: 0px;   
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown-menu li a {
    padding: 7px 9px;
    color: #777;

}


.navbar-toggler{
    background-color:#fff !important;
    margin-right: 20px;
    outline: 0;
   border: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
   
}

}
.navbar-expand-md .navbar-nav .dropdown-menu {
    left: 25%;
    top: 63%;
    position: absolute;
}

/* <!--  navbar style end  --> */


/* current page style start */
/* .current_page_container{
    padding: 15px;
    width:100%;
    background-color: white;
}
 */

/* current page style start */

/* product_details_page style start */
.product_details_container{
    width: 100%;  
    /* padding: 20px; */
}
.current_machine_index{
    margin-left: 20px;
    color: gray;
    margin-top: 5px;
}

.product_details_content{
    padding: 20px  60px;  
}
.product_catogory
.product_right p{
    font-size: smaller;
    font-weight: 600;
}
.category_names  ul li a{
    font-size: 14px;
    text-decoration: none;
    color:gray !important;
    
}
.category_names  ul li {
    margin-top: 5px;
margin-bottom: 10px;
/* list-style: none; */
}
.machine_img{
margin: 25px 0px;
border: 1px solid red;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .machine_info_container .machine_info{
background-color: #777;
} */
.luggage .title {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    font-weight: 500;
    line-height: 30px;
  }
  .lullage_info  {
    font-family: arial, sans-serif;
    width: 100%;
    /* border: dotted 1px #225da8; */
    margin-bottom: 20px;
    border:  1px  solid #ec1c24;
    font-size: 11px;
    width: 100%;
    font-weight: 400;
    text-transform: none;

    margin: 0 0 20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .lullage_info th {
    text-align: left;
    padding: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #333333;}
    .product_img   
    .product_img .row .no-gutters [class^="col-"] {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        padding-right: 0;
        /* padding-left: 0; */
        margin-right: 0;
        /* margin-left: 0; */
  }

  .lullage_info td {
    background-color: #777;
    padding: 7px;
    font-size: 12px;
    color: #fff;
  }



      .product_img  .product_machinery_images>img{
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
      .machine_info_container{
       margin: 25px 0px; 
      }

      .machine_info_container .machine_info_container_right{
margin-left: 40px !important;
      }

      
      .machine_info_container .machine_info_container_right   .get_quote{
    padding: 10px;
    margin: 7px;
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
 
  }

  @media screen and (max-width:768px){
    .machine_info_container .machine_info_container_right {
        margin-left: 0px !important;
       
    }

    .product_img .product_machinery_images>img {
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px  !important;
    }
  }

/* product_details_page style start */

   /* contact form style start */
   .contact_innerpage_container{
    margin: 20px 0;
}
  .contact_form_container {
    width: 100%;
  }
  
  .contact_innerpage_content {
    padding: 30px 0px;
    width: 100%;
  }
  .contact_innerpage_content h2 {
    font-size: 2rem;
  
    text-transform: uppercase;
  }
  .contact_form .form-group {
    margin-bottom: 15px;
  }
  .contact_form .form-control {
    border-radius: 0px !important;
  }
  .modal-body{
    padding: 0px 20px 20px 20px !important;
  }
  .contact_form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     
      opacity: 0.5 !important;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    
     opacity: 0.5 !important;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    
     opacity: 0.5 !important;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      opacity: 0.5 !important;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
      opacity: 0.5 !important;
  }
  
  ::placeholder { /* Most modern browsers support this now. */
      opacity: 0.5 !important;
  }
  
  .contact_form .form_submit {
    outline: 0 !important;
  margin-top: 10px;
    padding: 10px;
    font-weight: 700;
    color: #fff !important;
    background-color: red;
    border-color: gray;
    border: none !important;

    border-radius: 4px;
  }
  .contact_innerpage_content_right p {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: justify;
  }
  
  .contact_innerpage_content_right i {
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  }
  .contact_innerpage_content_right a {
    outline: 0;
    text-decoration: none;
  }
  .contact_innerpage_content_right a:hover {
    color: #000 !important;
  }
  @media screen and (max-width: 767px) {
    .contact_form_container {
      margin: 0px 10px;
    }
  }
  
  /* contact form style end */
  
    .main_container {
width: 100%;
background-color: #333333;     
    }
    .footer {
   
        padding: 30px 0px;
      }
  
      .footer_left .title, .footer_mid .title {
      margin: 0 0 18px;
      width: 100%;
      float: left !important;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
  }
  .footer_left p i {
      font-size: 14px;
      line-height: 26px;
      margin-right: 5px;
      color: #ec1c24;
  }
  
  .fa {
      display: inline-block;
      font: normal normal normal 14px / 1 FontAwesome;
  }
  
  .footer_left p ,.footer_left p a{
      color: #fff;
      font-size: 13px;
  }
  
  p {
      margin-bottom: 5px;
  }
  a {
      outline: 0;
      text-decoration: none;
  }
  
  .footer_left p span a {
      color: #ec1c24;
      padding: 0 3px;
      font-size: 16px;
  }
  
  
  
  .footer_mid .footer_mid_items  div{
      width: 50%;
  }
  .footer_mid .footer_mid_items  div a{
      color: #fff;
      font-size: 14px;
   text-decoration: none !important;
  }
  .footer_mid .footer_mid_items div a:hover{
      color: #ec1c24;
  
  }
  
  .footer_right img{
  width: 100%;
  
  }
  .footer_right p{
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  }
  
  @media screen and (max-width: 368px) {
      .footer_left p  {
    text-align: left !important;
  }
  
  }
  @media screen and (max-width: 767px) {
      .footer_mid {
          margin-top: 20px;
      }
  }
  
  @media screen and (max-width: 990px) {
     .footer {
         padding: 30px 15px !important;
     }
      .footer_mid {
          margin-bottom: 25px;
      }
      .footer_right img {
          width: 58%;
          padding-left: 12px;
          margin: 0 0 18px;
      }
  }
  
  
    /* <!-- footer style end --> */



/* flexo two color style start */
.flexo_two_color_content {
    width: 100%;
  }
  
  .flexo_two_color_content  .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ec1c24;
    margin-right: 25px;
    width: 100%;

  }
  .flexo_two_color_content .card img {
    /* border: 1px solid gray; */
    /* padding: 40px; */
    width: 100%;
    height: 350px;
    padding: 10px;
    /* border: 1px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .flexo_two_color_content .card .read_more {
    padding: 10px;
    /* margin: 7px; */
    margin-top: 10px;
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
   
  }
  
  .flexo_two_color_content.card .get_quote {
    padding: 10px;
    /* margin: 7px;  */
    margin-top: 10px;
    background-color: #333333;
    color: #fff;
    border: none;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    float: right;
  }
  .card-text{
      opacity: .8 !important;
  }
 /* flexo two color style start */

    /* .about_container {
        width: 100%;
        padding: 20px 60px;
        margin: 20px 0;
      }
      
      .about-us-title{
       border-bottom: 5px solid #ec1c24;
       width: 32%;
       margin-bottom: 20px;
       padding-bottom: 5px;
      } */